.bg-pink{
    background-color: #e03d84;
  }
  .bg-green{
    background-color: #4BE8DE;
  }
  .txt-pink{
    color:#e03d84;
    font-weight: bold;
  }
  .txt-green{
    color: #4BE8DE;
    font-weight: bold;
  }
  .activeButton{
    border-bottom: 1px solid #e03d84;
  }
  .activeButtonInicio{
    background-color: black;
    border-bottom: 1px solid #e03d84;
  }
  
  /* html, body {
    height: 100%;
    margin: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px - 50px); 
  } 
  
  .full-img {
    flex-grow: 1;
    width: 100%;
    object-fit: cover; 
  }

  .nav-link-bold {
    font-weight: bold;
    }

    */