<div class="container-fluid bg-dark text-white" data-bs-theme="dark">
    <header class="d-flex justify-content-around py-5">
      <a routerLink="/home" class="d-flex align-items-center mb-2 text-white text-decoration-none">
        <h1 class="fs-1 txt-pink">PROGRESA FEST</h1>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/inicio" routerLinkActive="activeButtonInicio" class="nav-link bg-pink text-white" aria-current="inicio">INICIO</a></li>
        <li class="nav-item"><a routerLink="/entradas" routerLinkActive="activeButton" class="nav-link txt-green">ENTRADAS</a></li>
        <li class="nav-item"><a routerLink="/info" routerLinkActive="activeButton" class="nav-link txt-green">INFO</a></li>
        <li class="nav-item"><a routerLink="/contacto" routerLinkActive="activeButton" class="nav-link txt-green">CONTACTO</a></li>
      </ul>
    </header>
  </div>

