html, body {
    height: 100%;
    margin: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px - 50px); 
  } 
  
  .full-img {
    flex-grow: 1;
    width: 100%;
    object-fit: cover; 
  }

  .nav-link-bold {
    font-weight: bold;
    }

