<div class="container border rounded text-center p-5 my-5">
    <h2 class="h-6 txt-pink">ERROR</h2>
    <h1>
      <span class="display-1 txt-green">4</span>
      <span class="display-1 txt-pink">0</span>
      <span class="display-1 txt-green">4</span>
    </h1>
    <h1>
      <span class="display-3 txt-pink">PAGE</span>
      <span class="display-3 txt-green">NOT</span>
      <span class="display-3 txt-pink">FOUND</span>
    </h1>
    <hr>
    <p>Lo sentimos, la página que estás buscando no existe. Te recomendamos regresar a la página de inicio para encontrar lo que necesitas.</p>
    <a class="nav-link bg-pink text-white col-2 p-2 rounded offset-5" routerLink="/home">Ir al Inicio</a>
  </div>
