<footer class="footer"> 
    <div class="social-icons">
        <a href="https://www.instagram.com" target="_blank" rel="noopener">
            <img src="assets/1-e1bb61fd.png" alt="Instagram" class="img-fluid">
        </a>
        <a href="https://www.facebook.com" target="_blank" rel="noopener">
            <img src="assets/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.tiktok.com" target="_blank" rel="noopener">
            <img src="assets/tiktok.png" alt="TikTok">
        </a>
    </div>
    <p class="copyright">PROGRESA FEST ©2025</p>
</footer>
