<div class="container-fluid d-flex flex-wrap contacto-container">
    <!-- Imagen a la izquierda -->
    <div class="col-md-6 p-0">
      <img src="assets\imagenfest.png" alt="Festival" class="img-fluid h-100 w-100" />
    </div>
  
    <!-- Formulario a la derecha -->
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-start p-5 text-container">
      <div class="bg-lightblue p-3 mb-4 w-100 text-center">
        <h2 class="fw-bold">MÉTODOS DE CONTACTO</h2>
      </div>
  
      <p><strong>EMAIL:</strong><br />Progresafest&#64;gmail.com</p>
      <p><strong>TEL:</strong><br />+34 123 45 67 89</p>
  
      <p><strong>FORMULARIO:</strong></p>
  
      <!-- <div class="container mt-4">
  <h3>Contáctanos</h3>
  <form (ngSubmit)="enviarFormulario()" #contactForm="ngForm">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        [(ngModel)]="formData.nombre"
        required
        placeholder="Tu nombre"
      />
    </div>

    <div class="mb-3">
      <label for="correo" class="form-label">Correo electrónico</label>
      <input
        type="email"
        class="form-control"
        id="correo"
        name="correo"
        [(ngModel)]="formData.correo"
        required
        placeholder="tucorreo@example.com"
      />
    </div>

    <div class="mb-3">
      <label for="mensaje" class="form-label">Mensaje</label>
      <textarea
        class="form-control"
        id="mensaje"
        name="mensaje"
        rows="4"
        [(ngModel)]="formData.mensaje"
        required
        placeholder="Escribe tu mensaje aquí"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">ENVIAR</button>
  </form>
</div>

  *-->
  

