html, body {
    height: 100%;
    margin: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px - 50px); /* Ajusta según navbar y footer */
  }
  
  .full-img {
    flex-grow: 1;
    width: 100%;
    object-fit: cover; /* Ajusta la imagen sin distorsión */
  }
  
  
  .footer {
    background-color: #a7c0bf;
    color: #000000;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    }
    
    .social-icons {
    /* No specific horizontal positioning needed here */
    }
    
    .social-icons a {
    display: inline-block;
    margin-right: 10px;
    }
    
    .social-icons a:last-child {
    margin-right: 0;
    }
    
    .social-icons img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    }
    
    .copyright {
    font-size: 0.9em;
    margin: 0;
    margin-left: auto; /* Push the copyright to the right */
    margin-right: auto; /* Center the copyright */
    }

    .nav-link-bold {
        font-weight: bold;
        }
  