<!-- filepath: f:\SATANIS\Codes\Html\ProyectoStanisPablo\Progresa-Fest\src\app\componentes\registro\registro.component.html -->
<div class="d-flex flex-column min-vh-100">
  <div class="container mt-4 flex-grow-1" style="max-width: 400px;">
      <h4 class="mb-3 text-center">Crear Cuenta</h4>
      <form (ngSubmit)="registrar()" #registroForm="ngForm">
          <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  [(ngModel)]="registroData.nombre"
                  required
              />
          </div>

          <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  [(ngModel)]="registroData.email"
                  required
              />
          </div>

          <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  [(ngModel)]="registroData.password"
                  required
              />
          </div>

          <div class="mb-3">
              <label for="confirmarPassword" class="form-label">Confirmar Contraseña</label>
              <input
                  type="password"
                  class="form-control"
                  id="confirmarPassword"
                  name="confirmarPassword"
                  [(ngModel)]="registroData.confirmarPassword"
                  required
              />
          </div>

          <button type="submit" class="btn btn-success w-100">Registrarse</button>
      </form>
      <div class="mt-3 text-center">
        <p>¿Ya estás registrado? 
            <a href="/login" class="text-primary">Inicia sesión aquí</a>
        </p>
    </div>
  </div>
</div>